@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* @layer base {
  body {
    @apply font-[Poppins];
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;

  transition: 3s;
  background: #1f1f38;
  color: white;
  line-height: 1.7;
  background-color: rgb(43, 44, 44);
}

.btn {
  width: max-content;
  display: inline-block;
  color: #d0a1e4;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #d0a1e4;
}

.btn-primary {
  background: #d0a1e4;
  color: #1f1f38;
}
